<form action="/selectHero" method="post">
    <div class="px-4 py-5 mt-5 text-center">
      <img class="d-block mx-auto mb-4 rounded-circle" src="/images/superHeroIcon.jpg" alt="Super Hero Icon" width="85" height="85">
      <h1 class="display-5 fw-bold text-body-emphasis">Super Hero API</h1>
      <div class="col-lg-6 mx-auto">
        <input type="text" class="form-control py-2 mt-5 " name="heroName">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
          <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="Search">
        </div>
      </div>
    </div>
  </form>